{% extends "base.html" %}

{% block title %}Directory: {{ folder_path }}{% endblock %}

{% block content %}
<img class="bg" src="{{ url_for('static', filename='img/img.png') }}" alt="Background Image">
    <div class="container">
        <div class="breadcrumb">
            <a href="{{ url_for('show_directory', subpath='') }}">Home</a>
            {% for part in breadcrumb %}
                <span> &gt; </span>
                <a href="{{ url_for('show_directory', subpath='/'.join(breadcrumb[:loop.index])) }}">{{ part }}</a>
            {% endfor %}
        </div>

        <h2>Folders</h2>
        <div class="file-container">
            {% for folder in folders %}
            <div class="folder-item">
                <a href="{{ url_for('show_directory', subpath=folder_path ~ '/' ~ folder) }}">
                    <img src="{{ url_for('static', filename='img/folder (2).png') }}" class="folder" alt="Folder">
                </a>
                <a href="{{ url_for('show_directory', subpath=folder_path ~ '/' ~ folder) }}" class="folder-label">{{ folder }}</a>
            </div>
            {% endfor %}
        </div>
        
        <h2>Files</h2>
        <ul>
            {% for file in files %}
            <li>
                <a href="{{ url_for('static', filename=folder_path ~ '/' ~ file) }}" download>{{ file }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
