{% extends "base.html" %}

{% block header_title %}File Details{% endblock %}

{% block content %}
    <img class="bg" src="{{ url_for('static', filename='img/img.png') }}" alt="Background Image">

    <div class="file-container">
        <h2>File Name: {{ name }}</h2>
    </div>

    {% if link %}
    <div class="file-container">
        <h3>Direct Download:</h3>
        <a href="{{ link }}" target="_blank">Download Directly</a>
    </div>
    {% else %}
    <div class="file-container">
        <p>Direct download not available.</p>
    </div>
    {% endif %}

    <div class="file-container">
        <h3>Download from Telegram:</h3>
        <a href="{{ tele }}" target="_blank">Download via Telegram</a>
    </div>
{% endblock %}
