{% extends "base.html" %}

{% block header_title %}Choose Resource{% endblock %}

{% block content %}
    <img class="bg" src="{{ url_for('static', filename='img/img.png') }}" alt="Background Image">
    <div class="file-container">
        {% for resource in resources %}
        <div class="folder-item">
            <a href="{{ url_for('view_files', semester=semester, subject=subject, year=year, resource=resource) }}">
                <img src="{{ url_for('static', filename='img/folder (2).png') }}" class="folder" alt="Folder">
            </a>
            <a href="{{ url_for('view_files', semester=semester, subject=subject, year=year, resource=resource) }}" class="folder-label">{{ resource }}</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
