{% extends "base.html" %}

{% block header_title %}Choose Semester{% endblock %}

{% block content %}
    <img class="bg" src="{{ url_for('static', filename='img/img.png') }}" alt="Background Image">
    <div class="file-container">
        {% for folder in folders %}
        <div class="folder-item">
            <a href="{{ url_for('folders', folder=folder[1:]) }}">
                <img src="{{ url_for('static', filename='img/folder (2).png') }}" class="folder" alt="Folder">
            </a>
            <a href="{{ url_for('subject', folder=folder[1:]) }}" class="folder-label">{{ folder[1:] }}</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
