{% extends "base.html" %}

{% block header_title %}Choose Subject{% endblock %}

{% block content %}
    <img class="bg" src="{{ url_for('static', filename='img/img.png') }}" alt="Background Image">
    <div class="file-container">
        {% for subject in subjects %}
        <div class="folder-item">
            <a href="{{ url_for('year', semester=semester, subject=subject[1:]) }}">
                <img src="{{ url_for('static', filename='img/folder (2).png') }}" class="folder" alt="Folder">
            </a>
            <a href="{{ url_for('year', semester=semester, subject=subject[1:]) }}" class="folder-label">{{ subject[1:] }}</a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
